{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/images/cat.jpg" height="512px" width="512px" >
    </a>
    <h1>Bootstrap Example</h1>
      <h3>Kenneth Gronemann</h3>
</div>
</div>
<div class="alert alert-primary" role="alert">
This site is under construction
</div>
   <div class="container">
	<h2>My Pasta Fansite</h2>
	<p>Click the images to find recipies.</p>
	<table class="table">
	<thead class="thead-light">
	<tr>
		<th scope="col">Rank</th>
		<th scope="col">Name</th>
		<th scope="col">Description</th>
		<th scope="col">Picture</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th> <td>Manicotti</td> <td>Stuffed 
		manicotti shells with mozzarella, parmesan, and 
		sauce. Usually too filling for any sort of meat side, but
		it always pairs well with a nice steak and some red wine.
		Preferrably served baked, very good when it's just barely
		crispy.
		</td> <td style="height:250px;width:250px"> 
		<a href="https://www.allrecipes.com/recipe/13883/manicotti/">
		 <img style="display:block;" 
		 src="/images/manicotti.jpg" height="250px" width="250px"> 
		</a>
		</td>
	</tr>
        <tr>
                <th scope="row">2</th> <td>Rigatoni</td> <td>
		Tubular pasta with ridges that hold more sauce than
		your standard penne. I prefer it with a pink vodka sauce,
		served with extra parmesan and italian sausage. Also very
		good with chorizo, for an extra kick.
                </td> <td style="height:250px;width:250px"> <a 
	href="https://www.myrecipes.com/recipe/baked-rigatoni-with-beef">
                 <img style="display:block;" src="/images/rigatoni.jpg" 
                 height="250px" width="250px">
                </a>
                </td>
        </tr>
        <tr>
                <th scope="row">3</th> <td>Ravioli</td> <td>
                Cheese or meat filled pasta similar to a dumpling. Usually
		served in a red marinara sauce, but is also good with
		a creamy white sauce. Particularly good when baked, after
		initial boiling, put them into a pan and cover them with
		sauce and mozarella and parmesan. Then bake until crispy.
                </td> <td style="height:250px;width:250px">
 <a href="https://www.allrecipes.com/recipe/213131/homemade-four-cheese-ravioli/">
                 <img style="display:block;"
                 src="/images/ravioli.jpg" height="250px" width="250px">
                </a>
                </td>
        </tr>
        <tr>
                <th scope="row">4</th> <td>Linguine</td> <td>
                Thin flat noodles usually served with a creamy white
		sauce and seafood. I always enjoy linguine alfredo served 
		with shrimp or salmon. It is light enough to not be too 
		filling, so linguine should always be served with a meat.
		</td> <td style="height:250px;width:250px">
 <a href="https://www.allrecipes.com/recipe/12029/linguine-with-white-clam-sauce-ii/">
                 <img style="display:block;"
                 src="/images/linguini.jpg" height="250px" width="250px">
                </a>
                </td>
        </tr>
        <tr>
                <th scope="row">5</th> <td>Spaghetti</td> <td>
                Your standard fan-favorite, spagoot. You'd be hard pressed 
		to find anyone that does not like spaghetti. Best served
		classically: tomato sauce, with or without meat, and 
		meatballs. Pairs well with just about anything.
                </td> <td style="height:250px;width:250px">
                <a href="https://www.southernliving.com/recipes/all-in-one-spaghetti-recipe">
                 <img style="display:block;"
                 src="/images/spaghetti.jpg" height="250px" width="250px">
                </a>
                </td>
        </tr>
	</tbody>
	</table>
   </div>

{% endblock %}
