{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/images/cat.jpg" height="75%" width="75%" >
    </a>
    <h1>Bootstrap Example</h1>
      <h3>Kenneth Gronemann</h3>
</div>
</div>
<div class="alert alert-primary" role="alert">
This site is under construction
</div>
   <div class="container">
	<h2>My Pasta Fansite</h2>
	<table class="table">
	<thead class="thead-light">
	<tr>
		<th scope="col">Rank</th>
		<th scope="col">Name</th>
		<th scope="col">Description</th>
		<th scope="col">Picture</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>Manicotti</td>
		<td>Stuffed manicotti shells with mozzarella, parmesan, and sauce</td>
		<td style="height:250px;width:250px">    <a href="/">
		 <img style="display:block;" src="/images/manicotti.jpg" height="75%" width="75%" >
		 </a>
		</td>
	</tr>
	</tbody>
	</table>
   </div>

{% endblock %}
